<!DOCTYPE html>
<html lang="en">

    <% include partials/page/head.ejs %>

	<body>

	<% include partials/page/nav.ejs %>

      <% blog.blog_posts.forEach(function(items) { %>
        <div class="content">
          <div class="imageShow imageShowhov"><img src="<%= items.img %>"></div>
          <h1><%= items.title %></h1>

          <p><%= items.description %></p>
      </div>
      <% }); %>

  	<% include partials/page/jsdefault.ejs %>
  	<% include partials/page/scripts.ejs %>

  </body>
</html>
