<!DOCTYPE html>
<html lang="en">

    <% include partials/page/head.ejs %>

	<body class="<%= classname %>">

	<div class="headHolder">
		<div class="nav">

			<ul>
				<li><h1>Oliver Hardwick</h1></li>
				<li><a href="http://localhost:3000/">Home</a></li>
				<li></li><a href="http://localhost:3000/about">About</a></li>
			<li><a href="http://localhost:3000/dev">Showcase</a></li>
				<li><h3><a href="http://localhost:3000/login"> Sign-In</a></h3></li>
			</ul>

		</div>
	</div>

	<div class="content">

				<div class="imageShow imageShowhov">
    				<a href="http://www.uc.edu" target="_blank"><img src="/images/uc_long_logo.jpg"></a>
    			</div>

				<h2>Progress<h2>

	</div>

    <div class="foot">
	    	<% include partials/page/footer.ejs %>
	</div>

  	<% include partials/page/jsdefault.ejs %>
  	<% include partials/page/scripts.ejs %>

  </body>
</html>
