<!DOCTYPE html>
<html lang="en">

    <% include partials/page/head.ejs %>

	<body class="<%= classname %>">

	<% include partials/page/nav.ejs %>

	<div class="content">

				<div class="imageShow imageShowhov">
    				<a href="http://www.uc.edu" target="_blank"><img src="/images/uc_long_logo.jpg"></a>
    			</div>

				<h2>Progress<h2>

	</div>

    <div class="foot">
	    	<% include partials/page/footer.ejs %>
	</div>

  	<% include partials/page/jsdefault.ejs %>
  	<% include partials/page/scripts.ejs %>

  </body>
</html>
