<!DOCTYPE html>
<html lang="en">

    <% include partials/page/head.ejs %>

	<body class="<%= classname %>">

	<% include partials/page/nav.ejs %>


	<div class="content">

					<div class="imageShow imageShowhov">
	    				<a href="http://cech.uc.edu/it.html" target="_blank"><img src="/images/uc_long_logo.jpg"></a>
	    			</div>

					<p>In my major Information Technology Software track I get to work on a lot of cool projects</p>

					<p></p>

	</div>

	<div class="content">

					<div class="imageShow imageShowhov">
	    				<img src="/images/dev/gotag.jpg">
	    			</div>

					<h1>GoTag</h1>

					<p></p>

	</div>

	<div class="content">

				<div class="wrapper">
					<div class="small imageShowhov">
	    				<a href="https://www.youtube.com/watch?v=3bDHWf5Vq_E" target="_blank"><img src="/images/dev/RPG.png"></a>
	    			</div>
	    			<div class="small imageShowhov">
	    				<a href="https://www.youtube.com/watch?v=d3HEFiDFApI" target="_blank"><img src="/images/dev/Ninja_2D.png"></a>
	    			</div>
				</div>

					<h1>Game Development</h1>

					<p></p>

					<a href="http://unity3d.com/" target="_blank"><img src="/images/dev/unity.png" width="10%"></a>

	</div>

	<div class="content">

		<h2>Google Glass Promo Video</h2>
		<video controls>
	  		<!--<source src="/images/Combined.mp4" type="video/mp4">
	 		 <source src="movie.ogg" type="video/ogg">-->
	  		Your browser does not support the video tag.
		</video>
			<h1>Unfortuneatly I cannot afford to post this due to sheer size of the video. Please directly contact me and I will gladly allow you to view it</h1>
		<p>While working at BMW I created this video to budget a Google Glass project</p>
		<p>This was made using Adobe Premiere and was my first time working on a video!</p>
		<p>OH and most importantly the project did get funded!</p>

	</div>

	<div class="content">
					<div class="wrapper">
					<div class="huge imageShowhov">
	        			<a href="http://www.w3.org/html/logo/" target="_blank"><img src="/images/dev/HTML5.png" /></a>
		   			</div>
		   			<div class="large imageShowhov">
		       			<a href="https://www.android.com/" target="_blank"><img src="/images/dev/android.png"></a>
		   			</div>
		    		<div class="large imageShowhov">
		       			<a href="https://www.oracle.com/java/index.html" target="_blank"><img src="/images/dev/java.png"></a>
		    		</div>
	    			<div class="large imageShowhov">
	        			<a href="http://msdn.microsoft.com/en-us/vstudio/hh341490.aspx" target="_blank"><img src="/images/dev/C_Sharp.png"></a>
	    			</div>

				</div>

				<p></p>


	</div>

	<div class="foot">
		<% include partials/page/footer.ejs %>
	</div>

  	<% include partials/page/jsdefault.ejs %>
  	<% include partials/page/scripts.ejs %>

  </body>
</html>
