<!DOCTYPE html>
<html lang="en">
  
    <% include partials/page/head_login.ejs %>
	
	<body class="<%= classname %>">   
	
	<% include partials/page/header.ejs %> 

	<div class="headHolder">
		<div class="nav">
			
			<ul>
				<li><img src="/images/olioli.png" /></li>
				<li><h1>OLiOLi</h1></li>
				<li><a href="http://localhost:3000/">Home</a></li>		
				<li></li><a href="http://localhost:3000/about">About</a></li>
				<li><a href="http://localhost:3000/dev">Showcase</a></li>
			</ul>

		</div>
	</div>

	<div class="login-card">

	    <h1>Log-in</h1><br>
		  <form>
		    <input type="text" name="user" placeholder="Username">
		    <input type="password" name="pass" placeholder="Password">
		    <input type="submit" name="login" class="login login-submit" value="login">
		  </form>

		  <div class="login-help">
		    <a href="#">Register</a> • <a href="#">Forgot Password</a>
		  </div>

	</div>

		<div class="sso">
		<h1>Like our page at your Leisure</h1>
		<div class="content">

				<div class="imageShow">
    				<a href="https://www.twitter.com/otis327"><img src="/images/socialmedia/twitter.png"></a>
    			</div>	
				
		</div>
	
    
	    <div class="content">
		
			<div class="imageShow">
	    		<a href="https://www.facebook.com/oliolihar/timeline"><img src="/images/socialmedia/facebook.png"></a>

	    	</div>
	  

		</div>

		<div class="content">
			
			<div class="imageShow">
	    		<a href="https://plus.google.com/+OliverHardwick/posts"><img src="/images/socialmedia/googleplus.png"></a>
	    	</div>

		</div>
	</div>
  	
  	<% include partials/page/jsdefault.ejs %>
  	<% include partials/page/scripts.ejs %>

  </body>
</html>