<head>
	<link rel="stylesheet" type="text/css" href="/styles/cover.css">
	<link rel="stylesheet" type="text/css" href="/styles/tiles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/this.js"></script>
	<title><%= title %></title>
</head>
