<div class="headHolder">
  <div class="nav">
    <a href="http://localhost:3000/"><img class="banner" src="/images/signature.PNG" alt="oliver hardwick" width="10%"></a>
    <ul>
      <li><a href="http://localhost:3000/playground" class="item">Showcase</a></li>
      <li><a href="http://localhost:3000/blog" class="item">Blog</a></li>
    </ul>

  </div>
</div>
